.inputBar {
    width: 100%;
    position: sticky;
    bottom: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
        border: none;
        margin: .5rem 0 .5rem 0;
        background: #eaeaea;
        border-radius: 45rem;
        padding: 1rem;
        width: clamp(1px, 100%, 50em);
        outline: none;
        transition: width 200ms ease;
        &:focus-visible {
            width: clamp(50em, 100%, 60em);
        }
    }
}
