.browser {
    display: flex;
    width: 100%;
    overflow-y: auto;
    flex-direction: column;
}
._messages {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;        // -------
    grid-template-rows: 1.95fr 0.05fr; // -------
}
.loaderBox {
    transform: translateY(-110%);
    position: absolute;
    width: clamp(1px, 100%, 42em); // degrad
}
